@charset "utf-8"

// 变量前缀为$ ,方法前缀为_

//颜色变量
//白色
$color_white = #fff
$color_w1 = #f4f4f4
$color_w2 = $color_w1 - 8%
$color_w3 = $color_w2 - 8%
$color_w4 = $color_w3 - 8%
//黑色
$color_black = #313536
$color_bk_a = $color_black + 8%
$color_bk_b = $color_bk_a + 8%
$color_bk_c = $color_bk_b + 8%
$color_bk_d = $color_bk_c + 8%
//灰色
$color_gray = #b2b2b2
$color_g1 = $color_gray - 8%
$color_g2 = $color_g1 - 8%
$color_g3 = $color_g2 - 8%
$color_g4 = $color_g3 - 8%
$color_gy_a = $color_gray + 10%
$color_gy_b = $color_gy_a + 15%
$color_gy_c = $color_gy_b + 20%
$color_gy_d = $color_gy_c + 25%
//红色
$color_red = #f43
$color_r1 = $color_red - 8%
$color_r2 = $color_r1 - 8%
$color_r3 = $color_r2 - 8%
$color_r4 = $color_r3 - 8%
$color_r_a = $color_red + 8%
$color_r_b = $color_r_a - 8%
$color_r_c = $color_r_b - 8%
$color_r_d = $color_r_c - 8%
//蓝色
$color_blue = #3c89fd
$color_be1 = $color_blue - 8%
$color_be2 = $color_be1 - 8%
$color_be3 = $color_be2 - 8%
$color_be4 = $color_be3 - 8%
$color_be_a = $color_blue + 8%
$color_be_b = $color_be_a + 8%
$color_be_c = $color_be_b + 8%
$color_be_d = $color_be_c + 8%
$color_be_d1 = $color_blue - 8deg
$color_be_d2 = $color_be_d1 - 8deg
$color_be_1d = $color_blue + 8deg
$color_be_2d = $color_be_1d + 8deg


//字体大小变量
$fontSize_small  = 12px
$fontSize_normal = 13px
$fontSize_medium = 15px
$fontSize_large  = 22px
$fontSize_super  = 30px

//字体风格
$fontFamily = "-apple-system-font","Helvetica Neue","sans-serif"

//边框线
_boder(direction,color=$color_w2,pixel=1px)
    border-{direction} pixel solid color;

//严格盒模型
_boxSizing()
    -webkit-box-sizing border-box
    box-sizing border-box

//图片大小控制(被容器填充)
_imgwrap(node=imgwrap)
    .{node}
        img
            width 100%
            height 100%

//显示or隐藏
_display(method=none)
    display method

//溢出处理
_overflow(method=hidden)
    overflow method

//按钮样式
_btnStyle(pixel=5px,padding=0 6px)
    -webkit-border-radius pixel
    -moz-border-radius pixel
    border-radius pixel
    padding padding

//按钮颜色皮肤
_btnColor(color=$color_bk_a,bgColor=$color_gray)
    background-color bgColor
    color color

//按钮颜色皮肤
_btnHoverColorP(color=$color_bk_a,bgColor=$color_gray)
    &:active
        background-color bgColor - 15%
        color color
_btnHoverColorN(color=$color_bk_a,bgColor=$color_gray)
    &:active
        background-color bgColor + 15%
        color color

//垂直布局
_verticalLayout(left=auto,right=auto)
    position absolute
    top 0
    bottom 0
    margin auto 
    left left
    right right

//字体间隔
_spacing(pixel=1px)
    letter-spacing pixel

//完美版
_spacingPlus(pixel=1px)
    letter-spacing pixel
    text-indent pixel

//圆角
_borderRadius(pixel=50%)
    -webkit-border-radius pixel
    -moz-border-radius pixel
    border-radius pixel

//线性渐变
_gradient(bColor,eColor)
    background -webkit-linear-gradient(left top, bColor, eColor)
    background -o-linear-gradient(bottom right, bColor, eColor)
    background -moz-linear-gradient(bottom right, bColor, eColor)
    background linear-gradient(to bottom right, bColor, eColor)

//前后加线
_abSolid(color=$color_w3,pixel=1px)
    &::before,
    &::after
        content ""
        _display(block)
        width 100%
        height pixel
        position absolute
        left 0
        -webkit-transform scaleY(.5)
        transform scaleY(.5)
    &::before
        top 0
        _boder(top,(color))
        -webkit-transform-origin 0 0
        transform-origin 0 0
    &::after
        bottom 0
        _boder(bottom,(color))
        -webkit-transform-origin 0 100%
        transform-origin 0 100%

*
    margin 0
    padding 0
html
    *
        outline none
        -webkit-text-size-adjust none
        -webkit-tap-highlight-color rgba(0,0,0,0)
a   
    text-decoration none
ul,li
    list-style none
body
    background $color_w1
    color $color_black
    line-height 1.5
    font $fontSize_small $fontFamily

//禁止用户选中
.user-unselect
    -moz-user-select none
    -webkit-user-select none
    -ms-user-select none
    user-unselect none

//隐藏box
.box-hidden
    display none
//显示box
.box-show
    display block

.main-view
    width 10rem
    position relative
    margin 0 auto
    -webkit-box-sizing border-box
    -box-sizing border-box

.clearfix
    display table
    &::before,
    &::after
        content ""
        display table
    &::after
        clear both
.opaque
    background $color_white

//头部的主要信息
.basic-info
    width 100%
    padding .25rem 0
    min-height 3.8rem
    _boder(bottom)
    font-size $fontSize_normal
    position relative
    _boxSizing()
    padding-left 2.6rem
    .left
        position absolute
        left .4rem
        top .4rem
        width 1.8rem
        height 1.8rem
    _imgwrap()
    .infor
        width 100%
        _boxSizing()
        padding .15rem .25rem .15rem 0
        p
            line-height .65rem
            font-size $fontSize_small 
            color $color_bk_b
        p.vinbox
            line-height .75rem
            height .75rem
            _overflow()
            position relative
            a.m-btn
                height .5rem
                line-height .5rem
                _verticalLayout(,.15rem)
                _btnStyle()
                _btnColor(,$color_gy_c)
                _btnHoverColorP(,$color_gy_c);
     
    div.btn-box
        margin-top .3rem
        a.m-btn
            height .5rem
            line-height .5rem
            _btnStyle()
            _btnColor($color_w1,$color_blue)
            _display(inline-block)
            _btnHoverColorN($color_w1,$color_blue)

//报告概要
.listGroup
    padding .15rem .25rem
    _boder(bottom)
    h3
        font-size $fontSize_medium
        height 1rem
        line-height 1rem
    ul 
        padding .1rem 0
        li 
            height .55rem
            line-height .55rem
            position relative
            color $color_bk_b
            _boxSizing()
            font-size $fontSize_small
            padding-left .03rem
            padding-right 3rem
            &:not(:last-child)
                margin-bottom .15rem
            span.title
                width 100%
                text-align left
            span.val
                _verticalLayout(,.03rem)
                text-align right

//养护记录
.maintain
    padding .15rem .25rem
    font-size $fontSize_small
    line-height 1.4
    .tit
        position relative
        z-index 99
        height 1rem
        line-height 1rem
        width 100%
        position relative
        h3
            font-size $fontSize_medium
        .right-box
            height .5rem
            line-height .5rem
            _verticalLayout(,.15rem)
            _btnStyle()
            _btnColor($color_w1,$color_blue)
            _btnHoverColorN($color_w1,$color_blue)
            a
                height .5rem
                line-height .5rem
                color inherit
    .con
        font-size $fontSize_small
        padding .2rem 0
        ul
            li
                position relative
                color $color_bk_b
                _boxSizing()
                padding-left 2.25rem
                .time-box
                    width 2rem
                    height .7rem
                    line-height .7rem
                    text-align center
                    _verticalLayout(0,)
                    top .25rem
                    bottom auto
                .infor-box
                    width 100%
                    _boder(left,($color_blue+80%),2px)    
                    _boxSizing()
                    padding-left .35rem
                    position relative
                    &:before
                        content ""
                        _display(block)
                        width .2rem
                        height .2rem
                        background-color $color_blue
                        _verticalLayout(-.1rem,)
                        top .5rem
                        bottom auto
                        margin-left -1px
                        _borderRadius()
                    & >*
                        line-height 1.4
                    .mileage
                        position relative
                        height .5rem
                        line-height .5rem
                        padding-right 75px
                        .bar-wrap
                            width 100%
                            height .5rem
                            position relative
                            .progress-bar
                                width 98%
                                height .12rem
                                background $color_w2
                                _verticalLayout(0)
                                _borderRadius(.08rem)
                                .gray-bar
                                    height 100%
                                    _borderRadius(.08rem)
                                    _gradient($color_be_d + 20%,$color_blue + 8deg)

                        span.mile
                            width 75px
                            _verticalLayout(,0)
                            _display(block)
                            text-align right
                    .pinfo
                        line-height .5rem
                        padding-bottom .1rem
                        span.title
                            color $color_g1
                            margin-right .08rem
                        span.val
                            &.special
                                color $color_blue


//底部的免责声明
.statement
    _boder(top)
    padding .25rem
    margin-top .1rem
    background $color_white
    .statementTit
        h3
            text-align center
            line-height .85rem
            height .85rem
            margin-bottom .20rem
            font-size $fontSize_medium
            color $color_bk_b
            _spacingPlus()
            position relative
            span,i
                _display(inline-block)
                vertical-align middle
            i.warn-ico
                width .5rem
                height .5rem
                margin-right .2rem
                position relative
                &::before
                    content ""
                    _display(block)
                    width .5rem
                    height .5rem
                    position absolute
                    top 0
                    left 0
                    background url(../img/warn_01.png) 0 0 no-repeat
                    background-size 100% 100%
            span
                height .85rem
            

    .statementCon
        p
            color $color_bk_d
            line-height 1.5
            margin-bottom .25rem
            _spacing()

//配置信息页面
.group-cells
    background $color_white
    line-height 1.4
    font-size $fontSize_normal
    overflow hidden
    position relative
    .group-cell
        padding .15rem .3rem
        height 1.1rem
        position relative
        display -webkit-box
        display -webkit-flex
        display flex
        -webkit-box-align center
        -webkit-align-items center
        align-items center
        _boxSizing()
        font-size $fontSize_small
        &:not(:last-child)::after
            content ""
            _display(block)
            width 94%
            height 1px
            _verticalLayout(0,0)
            bottom 0
            top auto
            _boder(bottom,($color_w1))
        .cell__bd
            -webkit-box-flex 1
            -webkit-flex 1
            flex 1
            color $color_bk_b
            _spacing()
        .cell__ft
            width 6rem
            text-align right
            color $color_g3

section >.group-cells:not(:first-child)
    margin-top .25rem
    background #fff
section >.group-cells
    _abSolid()

.config
    .btn-block
        padding 0 .3rem
        font-size $fontSize_medium
        margin 1rem auto 0
        width 8.5rem
        height 1rem
        line-height 1rem
        text-align center
        _spacingPlus(3px)
        _btnStyle(6px)
        _btnColor($color_w1,$color_blue)
        _btnHoverColorN($color_w1,$color_blue)

.moreconfig
    .group-cell.tit
        font-size $fontSize_medium
        .cell__bd
            text-align center
    .group-cells .group-cell .cell__ft
            width 4.8rem
            overflow hidden

//完整报告页
.main-view.complete
    .group-cells
        .group-cell
            height .8rem
            margin-top 0
            &.tit
                height 1.1rem
                font-size $fontSize_medium
                _boder(bottom,($color_w1))
                &::after
                    _display(none)
                i.iconfont
                    font-size 17px
                    color $color_blue
                    margin-right 3px
                span
                    color $color_black
    .report
        .group-cells
            margin-top .25rem
            _abSolid()
            .group-cell
                &.tit
                    height 1.1rem
                    border-bottom none
        .reportlist
            padding 0 .5rem
            background #fff
            ul
                li
                    position relative
                    padding-bottom .2rem
                    color $color_bk_b
                    p
                        position relative
                        font-size $fontSize_normal
                        padding 0 .5rem 0 2rem
                        text-align justify
                        min-height .6rem
                        line-height .6rem
                        span
                            width 2rem
                            height .6rem
                            line-height .6rem
                            text-align right
                            color $color_g3
                            _verticalLayout(0)
                            top 0
                            bottom auto
                            
        .timedistance 
            position relative
            padding-top .15rem
            margin-bottom .1rem 
            span
                width 33.33%
                line-height .7rem
                display inline-block
                font-size $fontSize_normal
                &:nth-of-type(1)
                    text-align left
                &:nth-of-type(2)
                    text-align center
                &:nth-of-type(3)
                    position relative
                    color $color_blue
                    text-align right
    .statement
        margin-top 0

    






