doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0")
        //禁用苹果默认样式
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        //作者信息
        meta(name="author" content="name:Geek.Yu,email:1098654043@qq.com")
        //版权信息
        meta(name="copyright" content="")
        //禁止ios自动识别手机号和邮箱
        meta(name="format-detection" content="telephone=no,address=no")
        //木有车网页关键词
        meta(name="keywords" content="")
        //木有车网页描述
        meta(name="description" content="木有车汽车服务平台(m.muyouche.com)")
        title 木有车_检修详情_完整报告
        //引入字体文件
        link(href="../font/iconfont.css", rel="stylesheet", type="text/css")
        link(href="../css/app.css", rel="stylesheet", type="text/css")
        //引入vue
        script(src="../js/vue.min.js")
        //调用弹性布局js
        script(src="../js/flexible.js")

    body.user-unselect(oncontextmenu="return false")
        
        .main-view
            //概要配置
            section#configBox.config
                .group-cells
                    section.group-cell
                        .cell__bd
                            p 车架号
                        .cell__ft
                            |{{data.vin}}
                .group-cells
                    section.group-cell
                        .cell__bd
                            p 车型
                        .cell__ft
                            | 2007款 帕萨特领驭 1.8T 手动豪华型
                    section.group-cell
                        .cell__bd
                            p 厂家指导价
                        .cell__ft
                            | 19.98万
                    section.group-cell
                        .cell__bd
                            p 上市时间
                        .cell__ft
                            |2007
                    section.group-cell
                        .cell__bd
                            p 停产年份
                        .cell__ft
                            | 2011
                    section.group-cell
                        .cell__bd
                            p 排放标准
                        .cell__ft
                            | 国4

                .btn-block
                    a#lookConfig.m-btn-full.m-btn-blue(@click="lookMore()")
                        |查看车辆详细配置

            //详细配置信息
            section#moreconfig.moreconfig.box-hidden
                .group-cells
                    section.group-cell.tit
                        .cell__bd
                            p 车辆详细配置
                .group-cells
                    section.group-cell
                        .cell__bd
                            p 2007款 帕萨特领驭 1.8T 手动豪华型
                    section.group-cell.tit
                        .cell__bd
                            p 基本信息
                    section.group-cell
                        .cell__bd
                            p 保修政策
                        .cell__ft
                            |两年或6万公里
                    section.group-cell
                        .cell__bd
                            p 排量（升）
                        .cell__ft
                            |1.8
                    section.group-cell
                        .cell__bd
                            p 变速箱
                        .cell__ft
                            |5档手动
                    section.group-cell
                        .cell__bd
                            p 综合工况油耗（L/100km）
                        .cell__ft
                            |9.50
                    section.group-cell
                        .cell__bd
                            p 最高车速（km/h）
                        .cell__ft
                            |208
                    section.group-cell
                        .cell__bd
                            p 成员人数（个）
                        .cell__ft
                            |5
                .group-cells
                    section.group-cell.tit
                        .cell__bd
                            p 车体
                    section.group-cell
                        .cell__bd
                            p 车身颜色
                        .cell__ft
                            |暂无数据
                    section.group-cell
                        .cell__bd
                            p 长（mm）
                        .cell__ft
                            |4789
                    section.group-cell
                        .cell__bd
                            p 宽（mm）
                        .cell__ft
                            |1765
                    section.group-cell
                        .cell__bd
                            p 高（mm）
                        .cell__ft
                            |1470
                    section.group-cell
                        .cell__bd
                            p 轴距（mm）
                        .cell__ft
                            |2803
                    section.group-cell
                        .cell__bd
                            p 运动外观套件
                        .cell__ft
                            |暂无数据
        // 引用jq库
        script(src="../js/jquery.min.js")
        // 移动端click事件延迟修复
        script(src="../js/fastclick.js")
        script(src="../js/app.js" charset="utf-8")
        script(type="text/javascript").
            check_config();