<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--禁用苹果默认样式-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--作者信息-->
    <meta name="author" content="name:Geek.Yu,email:1098654043@qq.com">
    <!--版权信息-->
    <meta name="copyright" content="">
    <!--禁止ios自动识别手机号和邮箱-->
    <meta name="format-detection" content="telephone=no,address=no">
    <!--木有车网页关键词-->
    <meta name="keywords" content="">
    <!--木有车网页描述-->
    <meta name="description" content="木有车汽车服务平台(m.muyouche.com)">
    <title>木有车_校检配置</title>
    <!--引入字体文件-->
    <link href="../font/iconfont.css" rel="stylesheet" type="text/css">
    <link href="../css/app.css" rel="stylesheet" type="text/css">
    <!--引入vue-->
    <script src="../js/vue.min.js"></script>
    <!--调用弹性布局js-->
    <script src="../js/flexible.js"></script>
    <style>      
      /*vue对{{}}未编译钱先隐藏*/
			[v-cloak] {
			  display: none;
			}
    </style>
  </head>
  <body oncontextmenu="return false" class="user-unselect">
    <div class="main-view complete">
      <!--车辆信息-->
      <section id="car-info" class="car-info">
        <div class="group-cells">
          <section class="group-cell tit">
            <div class="cell__bd">
              <p class="fl"> <i class="iconfont icon-car"></i><span>车辆信息</span></p>
            </div>
          </section>
          <section class="group-cell">
            <div class="cell__bd">
              <p>车架号</p>
            </div>
            <div class="cell__ft" v-cloak>{{data.vin}}</div>
          </section>
          <section class="group-cell">
            <div class="cell__bd">
              <p>品牌</p>
            </div>
            <div class="cell__ft" v-cloak>{{data.brand_name}}</div>
          </section>
          <section class="group-cell">
            <div class="cell__bd">
              <p>型号</p>
            </div>
            <div class="cell__ft" v-cloak>{{data.series_name}}</div>
          </section>
          <section class="group-cell">
            <div class="cell__bd">
              <p>上市时间</p>
            </div>
            <div class="cell__ft" v-cloak>{{data.model_year}}</div>
          </section>
          <section class="group-cell">
            <div class="cell__bd">
              <p>排放标准</p>
            </div>
            <div class="cell__ft" v-cloak>{{data.model_emission_standard}}</div>
          </section>
          <section class="group-cell">
            <div class="cell__bd">
              <p>厂家指导价</p>
            </div>
            <div class="cell__ft" v-cloak>{{data.model_price}}万元</div>
          </section>
          <section class="group-cell" v-for="item in data.result_outline">
            <div class="cell__bd">
              <p v-cloak>{{item.label}}</p>
            </div>
            <div class="cell__ft" v-cloak>
              {{item.content}}
            </div>
          </section>
        </div>
      </section>
      <!--维修保养记录-->
      <section class="report">
        <div class="group-cells">
          <section class="group-cell tit">
            <div class="cell__bd">
              <p class="fl"> <i class="iconfont icon-empty"></i><span>维修保养记录</span></p>
            </div>
          </section>
        </div>
        <div id="reportlist" class="reportlist">
          <ul>
            <li v-for="item in listItem">
              <div class="timedistance" style="font-size:0;letter-spaceing:-4px;">
              	<span v-cloak>{{item.date}}</span>
              	<span v-cloak>{{item.mile}}公里</span>
              	<span>
                  <div style="display:none" class="imgwrap"><i class="iconfont icon-arrowdownb"></i><i style="display:none" class="iconfont icon-arrowupb"></i>
                  </div>{{item.type}}</span>
              </div>
              <p v-cloak><span>细节：</span>{{item.detail}}</p>
              <p v-cloak><span>其他：</span>{{item.other}}</p>
            </li>
          </ul>
        </div>
      </section>
      <!--免责条款-->
      <section class="statement">
        <div class="statementTit">
          <h3><i class="warn-ico"></i><span>免责条款</span>
            <!--装饰-->
            <div class="adorn"></div>
          </h3>
        </div>
        <div class="statementCon">
          <p> 本报告提供的所有内容及判断仅基于截至到报告购买日期收集的相关数据信息。关于此车辆其他信息（包括但不限于在非4S店或非授权制造商的维修保养信息）可能未被采集和收录。本报告仅是交易参考资料之一，请您结合实车勘验结果和试乘试驾体验，做出更精准的决策。</p>
        </div>
      </section>
    </div>
    <!-- 引用jq库-->
    <script src="../js/jquery.min.js"></script>
    <!-- 移动端click事件延迟修复-->
    <script src="../js/fastclick.js"></script>
    <script src="../js/app.js"></script>
    <script type="text/javascript">full_mtnce_report();</script>
  </body>
</html>