<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--禁用苹果默认样式-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--作者信息-->
    <meta name="author" content="name:Geek.Yu,email:1098654043@qq.com">
    <!--版权信息-->
    <meta name="copyright" content="">
    <!--禁止ios自动识别手机号和邮箱-->
    <meta name="format-detection" content="telephone=no,address=no">
    <!--木有车网页关键词-->
    <meta name="keywords" content="">
    <!--木有车网页描述-->
    <meta name="description" content="木有车汽车服务平台(m.muyouche.com)">
    <title>木有车_车辆检测报告详情</title>
    <link href="../css/app.css" rel="stylesheet" type="text/css">
    <!--引入vue-->
    <script src="../js/vue.min.js"></script>
    <!--调用弹性布局js-->
    <script src="../js/flexible.js"></script>
    <script src="../js/app.js"></script>
    <!-- stylus css预编译插件-->
    <style>      
      
    </style>
  </head>
  <body oncontextmenu="return false" class="user-unselect">
    <div class="main-view opaque">
      <!--主要信息-->
      <section id="basic-info" class="basic-info clearfix" v-cloak>
        <div class="left imgwrap"><img :src="'https://img71.muyouche.com/CarBrand/'+data.brand_id+'.jpg'" alt="汽车品牌LOGO"></div>
        <div class="infor">
          <p>{{data.brand_name}} - {{data.series_name}}</p>
          <p class="vinbox"><span>VIN：{{data.vin}}</span><a id="copyVIN" @click="copyVIN()" class="m-btn">复制VIN</a>
            <input id="copyInput" type="text" v-model="cvin" style="position: absolute;left: -9999px;">
          </p>
          <p><span>报告生成日期：{{data.create_date | timestampFormat}}</span></p>
          <div class="btn-box"><a :href="'check_config.html?Guid='+Guid" class="m-btn m-btn-blue">校验配置</a></div>
        </div>
      </section>
      <!--报告概要-->
      <section id="listGroup" class="listGroup">
        <h3>报告概要</h3>
        <ul>
        	<li v-for="item in resultList">
        		  <span class="title">{{item.label}}</span><span v-cloak class="val">{{item.content}}</span>
        	</li>
        </ul>
        
      </section>
      <!--养护记录-->
      <section id="record-list" class="maintain">
        <div class="tit clearfix">
          <h3> 重要记录</h3>
          <section class="right-box"><a :href="'full_mtnce_report.html?Guid='+Guid" class="m-btn m-btn-blue">查看完整报告</a></section>
        </div>
        <div v-cloak class="con">
          <ul class="record-list">
            <li v-for="item in recordItem">
              <section class="time-box"><span>{{item.date | dateFn}}</span></section>
              <section class="infor-box">
                <div class="mileage">
                  <div class="bar-wrap">
                    <div class="progress-bar">
                      <div :style="item.mile | scheduleFn(total_mileage)" class="gray-bar"></div>
                    </div>
                  </div><span class="mile">
                    {{item.mile | mileFn}}
                    </span>
                </div>
                <div class="pinfo"><span class="title">类型：</span><span class="val special">{{item.type}}</span></div>
                <div class="pinfo"><span class="title">项目：</span><span class="val">{{item.detail}}</span></div>
                <div class="pinfo"><span class="title">材料：</span><span class="val">{{item.other}}</span></div>
                <div style="display:none" class="moreArrow"><img src="../img/u258.png" style="display: none;"><img src="../img/u358.png"></div>
              </section>
            </li>
          </ul>
        </div>
      </section>
      <!--免责条款-->
      <section class="statement">
        <div class="statementTit">
          <h3><i class="warn-ico"></i><span>免责条款</span>
            <!--装饰-->
            <div class="adorn"></div>
          </h3>
        </div>
        <div class="statementCon">
          <p> 本报告提供的所有内容及判断仅基于截至到报告购买日期收集的相关数据信息。关于此车辆其他信息（包括但不限于在非4S店或非授权制造商的维修保养信息）可能未被采集和收录。本报告仅是交易参考资料之一，请您结合实车勘验结果和试乘试驾体验，做出更精准的决策。</p>
        </div>
      </section>
    </div>
    <!-- coffee-script js预编译插件-->
    <script>(function() {


}).call(this);

    </script>
    <!-- 引用jq库-->
    <script src="../js/jquery.min.js"></script>
    <!-- 移动端click事件延迟修复-->
    <script src="../js/fastclick.js"></script>
    <script src="../js/app.js"></script>
    <script type="text/javascript">mtnce_report();</script>
  </body>
</html>