@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
html * {
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
body {
  background: #f4f4f4;
  color: #313536;
  line-height: 1.5;
  font: 12px "-apple-system-font", "Helvetica Neue", "sans-serif";
}
.user-unselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-unselect: none;
}
.box-hidden {
  display: none;
}
.box-show {
  display: block;
}
.main-view {
  width: 10rem;
  position: relative;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -box-sizing: border-box;
}
.clearfix {
  display: table;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.opaque {
  background: #fff;
}
.basic-info {
  width: 100%;
  padding: 0.25rem 0;
  min-height: 3.8rem;
  border-bottom: 1px solid #e0e0e0;
  font-size: 13px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 2.6rem;
}
.basic-info .left {
  position: absolute;
  left: 0.4rem;
  top: 0.4rem;
  width: 1.8rem;
  height: 1.8rem;
}
.basic-info .imgwrap img {
  width: 100%;
  height: 100%;
}
.basic-info .infor {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.15rem 0.25rem 0.15rem 0;
}
.basic-info .infor p {
  line-height: 0.65rem;
  font-size: 12px;
  color: #4e5657;
}
.basic-info .infor p.vinbox {
  line-height: 0.75rem;
  height: 0.75rem;
  overflow: hidden;
  position: relative;
}
.basic-info .infor p.vinbox a.m-btn {
  height: 0.5rem;
  line-height: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: auto;
  right: 0.15rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 6px;
  background-color: #b2b2b2;
  color: #404647;
}
.basic-info .infor p.vinbox a.m-btn:active {
  background-color: #a0a0a0;
  color: #404647;
}
.basic-info div.btn-box {
  margin-top: 0.3rem;
}
.basic-info div.btn-box a.m-btn {
  height: 0.5rem;
  line-height: 0.5rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 6px;
  background-color: #3c89fd;
  color: #f4f4f4;
  display: inline-block;
}
.basic-info div.btn-box a.m-btn:active {
  background-color: #5095fd;
  color: #f4f4f4;
}
.listGroup {
  padding: 0.15rem 0.25rem;
  border-bottom: 1px solid #e0e0e0;
}
.listGroup h3 {
  font-size: 15px;
  height: 1rem;
  line-height: 1rem;
}
.listGroup ul {
  padding: 0.1rem 0;
}
.listGroup ul li {
  height: 0.55rem;
  line-height: 0.55rem;
  position: relative;
  color: #4e5657;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  padding-left: 0.03rem;
  padding-right: 3rem;
}
.listGroup ul li:not(:last-child) {
  margin-bottom: 0.15rem;
}
.listGroup ul li span.title {
  width: 100%;
  text-align: left;
}
.listGroup ul li span.val {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: auto;
  right: 0.03rem;
  text-align: right;
}
.maintain {
  padding: 0.15rem 0.25rem;
  font-size: 12px;
  line-height: 1.4;
}
.maintain .tit {
  position: relative;
  z-index: 99;
  height: 1rem;
  line-height: 1rem;
  width: 100%;
  position: relative;
}
.maintain .tit h3 {
  font-size: 15px;
}
.maintain .tit .right-box {
  height: 0.5rem;
  line-height: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: auto;
  right: 0.15rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 6px;
  background-color: #3c89fd;
  color: #f4f4f4;
}
.maintain .tit .right-box:active {
  background-color: #5095fd;
  color: #f4f4f4;
}
.maintain .tit .right-box a {
  height: 0.5rem;
  line-height: 0.5rem;
  color: inherit;
}
.maintain .con {
  font-size: 12px;
  padding: 0.2rem 0;
}
.maintain .con ul li {
  position: relative;
  color: #4e5657;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 2.25rem;
}
.maintain .con ul li .time-box {
  width: 2rem;
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: auto;
  top: 0.25rem;
  bottom: auto;
}
.maintain .con ul li .infor-box {
  width: 100%;
  border-left: 2px solid #d8e7ff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.35rem;
  position: relative;
}
.maintain .con ul li .infor-box:before {
  content: "";
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  background-color: #3c89fd;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -0.1rem;
  right: auto;
  top: 0.5rem;
  bottom: auto;
  margin-left: -1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.maintain .con ul li .infor-box >* {
  line-height: 1.4;
}
.maintain .con ul li .infor-box .mileage {
  position: relative;
  height: 0.5rem;
  line-height: 0.5rem;
  padding-right: 75px;
}
.maintain .con ul li .infor-box .mileage .bar-wrap {
  width: 100%;
  height: 0.5rem;
  position: relative;
}
.maintain .con ul li .infor-box .mileage .bar-wrap .progress-bar {
  width: 98%;
  height: 0.12rem;
  background: #e0e0e0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: auto;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  border-radius: 0.08rem;
}
.maintain .con ul li .infor-box .mileage .bar-wrap .progress-bar .gray-bar {
  height: 100%;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  border-radius: 0.08rem;
  background: -webkit-linear-gradient(left top, #8fbbfd, #3c6ffd);
  background: -o-linear-gradient(bottom right, #8fbbfd, #3c6ffd);
  background: -moz-linear-gradient(bottom right, #8fbbfd, #3c6ffd);
  background: linear-gradient(to bottom right, #8fbbfd, #3c6ffd);
}
.maintain .con ul li .infor-box .mileage span.mile {
  width: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: auto;
  right: 0;
  display: block;
  text-align: right;
}
.maintain .con ul li .infor-box .pinfo {
  line-height: 0.5rem;
  padding-bottom: 0.1rem;
}
.maintain .con ul li .infor-box .pinfo span.title {
  color: #a4a4a4;
  margin-right: 0.08rem;
}
.maintain .con ul li .infor-box .pinfo span.val.special {
  color: #3c89fd;
}
.statement {
  border-top: 1px solid #e0e0e0;
  padding: 0.25rem;
  margin-top: 0.1rem;
  background: #fff;
}
.statement .statementTit h3 {
  text-align: center;
  line-height: 0.85rem;
  height: 0.85rem;
  margin-bottom: 0.2rem;
  font-size: 15px;
  color: #4e5657;
  letter-spacing: 1px;
  text-indent: 1px;
  position: relative;
}
.statement .statementTit h3 span,
.statement .statementTit h3 i {
  display: inline-block;
  vertical-align: middle;
}
.statement .statementTit h3 i.warn-ico {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.2rem;
  position: relative;
}
.statement .statementTit h3 i.warn-ico::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/warn_01.png") 0 0 no-repeat;
  background-size: 100% 100%;
}
.statement .statementTit h3 span {
  height: 0.85rem;
}
.statement .statementCon p {
  color: #677173;
  line-height: 1.5;
  margin-bottom: 0.25rem;
  letter-spacing: 1px;
}
.group-cells {
  background: #fff;
  line-height: 1.4;
  font-size: 13px;
  overflow: hidden;
  position: relative;
}
.group-cells .group-cell {
  padding: 0.15rem 0.3rem;
  height: 1.1rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
}
.group-cells .group-cell:not(:last-child)::after {
  content: "";
  display: block;
  width: 94%;
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  border-bottom: 1px solid #f4f4f4;
}
.group-cells .group-cell .cell__bd {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  color: #4e5657;
  letter-spacing: 1px;
}
.group-cells .group-cell .cell__ft {
  width: 6rem;
  text-align: right;
  color: #8b8b8b;
}
section >.group-cells:not(:first-child) {
  margin-top: 0.25rem;
  background: #fff;
}
section >.group-cells::before,
section >.group-cells::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
section >.group-cells::before {
  top: 0;
  border-top: 1px solid #cecece;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
section >.group-cells::after {
  bottom: 0;
  border-bottom: 1px solid #cecece;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.config .btn-block {
  padding: 0 0.3rem;
  font-size: 15px;
  margin: 1rem auto 0;
  width: 8.5rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 3px;
  text-indent: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 0 6px;
  background-color: #3c89fd;
  color: #f4f4f4;
}
.config .btn-block:active {
  background-color: #5095fd;
  color: #f4f4f4;
}
.moreconfig .group-cell.tit {
  font-size: 15px;
}
.moreconfig .group-cell.tit .cell__bd {
  text-align: center;
}
.moreconfig .group-cells .group-cell .cell__ft {
  width: 4.8rem;
  overflow: hidden;
}
.main-view.complete .group-cells .group-cell {
  height: 0.8rem;
  margin-top: 0;
}
.main-view.complete .group-cells .group-cell.tit {
  height: 1.1rem;
  font-size: 15px;
  border-bottom: 1px solid #f4f4f4;
}
.main-view.complete .group-cells .group-cell.tit::after {
  display: none;
}
.main-view.complete .group-cells .group-cell.tit i.iconfont {
  font-size: 17px;
  color: #3c89fd;
  margin-right: 3px;
}
.main-view.complete .group-cells .group-cell.tit span {
  color: #313536;
}
.main-view.complete .report .group-cells {
  margin-top: 0.25rem;
}
.main-view.complete .report .group-cells::before,
.main-view.complete .report .group-cells::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.main-view.complete .report .group-cells::before {
  top: 0;
  border-top: 1px solid #cecece;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.main-view.complete .report .group-cells::after {
  bottom: 0;
  border-bottom: 1px solid #cecece;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.main-view.complete .report .group-cells .group-cell.tit {
  height: 1.1rem;
  border-bottom: none;
}
.main-view.complete .report .reportlist {
  padding: 0 0.5rem;
  background: #fff;
}
.main-view.complete .report .reportlist ul li {
  position: relative;
  padding-bottom: 0.2rem;
  color: #4e5657;
}
.main-view.complete .report .reportlist ul li p {
  position: relative;
  font-size: 13px;
  padding: 0 0.5rem 0 2rem;
  text-align: justify;
  min-height: 0.6rem;
  line-height: 0.6rem;
}
.main-view.complete .report .reportlist ul li p span {
  width: 2rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: right;
  color: #8b8b8b;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
}
.main-view.complete .report .timedistance {
  position: relative;
  padding-top: 0.15rem;
  margin-bottom: 0.1rem;
}
.main-view.complete .report .timedistance span {
  width: 33.33%;
  line-height: 0.7rem;
  display: inline-block;
  font-size: 13px;
}
.main-view.complete .report .timedistance span:nth-of-type(1) {
  text-align: left;
}
.main-view.complete .report .timedistance span:nth-of-type(2) {
  text-align: center;
}
.main-view.complete .report .timedistance span:nth-of-type(3) {
  position: relative;
  color: #3c89fd;
  text-align: right;
}
.main-view.complete .statement {
  margin-top: 0;
}
